<div class="card-columns animated fadeIn">

    <div (click)="clickArtist(item)" *ngFor="let item of items" class="card puntero">
      <img [src]="item.images | noImage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text"><span *ngFor="let artist of item.artists" class="badge badge-pill badge-success">{{artist.name}}</span></p>
      </div>
    </div>

</div>

<!--<div class="card-columns m-5">

    <div *ngFor="let artist of artists" class="card">
      <img [src]="artist.images | noImage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artist.name }}</h5>
      </div>
    </div>

</div>-->
